<!-- ジャンル編集画面 -->

<div class="index-container" style="width:40%; margin: 20px auto;">
  <h3>ジャンル編集画面</h3>

  <!-- フォームをupdateに飛ばす -->
  <%= form_for(@genre, url:admins_genre_path, method: :patch) do |f| %>
    <div>
    	<%= f.text_field :name, autofocus: true %>
    	<%= f.submit "編集する", class:"btn btn-success btn-md" %>
    </div>
  <% end %>

  <%= link_to "ジャンル一覧ページへ", admins_genres_path %>
</div>