<!DOCTYPE html>
<html>
<head>
	<title>ながのcake</title>
	<meta charset="UTF-8">
</head>
<body>
	<img src="assets/tart1.jpg" alt="非表示", style = "height: 700px; width: 100%;">
	<div></div>
	<p></p>
	<p></p>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>


</body>
</html>