<!-- 注文一覧画面 -->
<body>
  <h1>注文一覧画面</h1>

  <table>
  	<tr>
  		<th>購入日時</th>
  		<th>購入者</th>
  		<th>注文個数</th>
  		<th>ステータス</th>
  	</tr>

    <% @orders.each do |order| %>
  	  <tr>
  	    <th><%= order.created.at %></th>
  		<th><%= order.id %></th>
  		<th></th>
  		<th><%= @order.deposit_status %></th>
  	  </tr>
    <% end %>

  </table>
</body>