<style>
	.link_box {
		position: absolute;
		top: 10px;
		right: 40px;
		text-align: center;
	}

	.icon {
		display: inline-block;
		width: 30px;
		height: 30px;
		margin-right: 10px;
		margin-top: 5px;
	}

	p {
		color: #836159;
	}

</style>



<div style="width:100%; position:relative;">

	<img src="/assets/logo.jpg" alt="非表示", style = "height:80px;">


	<div class="link_box">
		<span id="text">share us!</span><br>
		 <%= link_to '/' do %>
			<img src="/assets/twitter.jpg" class="icon">
		 <% end %>
		 <%= link_to '/' do %>
			<img src="/assets/facebook.jpg" class="icon">
		<% end %>
		<%= link_to '/' do %>
			<img src="/assets/instagram.jpg" class="icon">
		<% end %>
	</div>

	<p class="text-center">(c) all rights naganocake & team camel</p>

</div>
