
<footer>

<div class="container">
<img src="/assets/logo.jpg" alt="非表示", style = "height:60px; margin: 30px 5px;">
<img src="/assets/facebook.jpg" alt="非表示", style = "height:50px; margin: 30px 5px;", align="right";>
<img src="/assets/twitter.jpg" alt="非表示", style = "height:50px; margin: 30px 5px;", align="right";>
<img src="/assets/instagram.jpg" alt="非表示", style = "height:50px; margin: 30px 5px;", align="right"; >
</div>

</footer>