
<footer>

<div class="">
<img src="assets/logo.jpg" alt="非表示">
</div>

<div class="">
<img src="assets/facebook.jpg" alt="非表示">
<img src="assets/twitter.jpg" alt="非表示">
<img src="assets/instagram.jpg" alt="非表示">
</div>

</footer>